/*! フォント設定 */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&display=swap');
/*! スクロールバー */
body {overflow-y: scroll;}
::-webkit-scrollbar {width: 8px; height: 8px;}
::-webkit-scrollbar-thumb {background: var(--bs-tertiary-color); border-radius: 4px;}
::-webkit-scrollbar-track {background: var(	--bs-border-color);}

/*! メイン設定 */
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
p, label {
    color: var(--bs-body-color);
}
#app {
    padding-bottom: 66px;
}

/*! アイコン設定 */

.material-symbols-rounded {
    color: var(--bs-body-color);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material-symbols-rounded.fill {
    color: var(--bs-body-color);
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}